<div id="<%= dom_id tenant %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tenant.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Time zone:</strong>
    <%= tenant.time_zone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Archived at:</strong>
    <%= tenant.archived_at %>
  </div>
</div>
