<div id="<%= dom_id team_shift %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Team:</strong>
    <%= team_shift.team_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Shift:</strong>
    <%= team_shift.shift_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Archived at:</strong>
    <%= team_shift.archived_at %>
  </div>
</div>
