<p class="p-3 relative flex items-center gap-4 hover:bg-neutral-100 focus:bg-neutral-100 transition-colors rounded-md text-neutral-600">
  <%= content %>

  <a href="<%= @link %>" class="text-sm font-medium">
    <span class="absolute inset-0"></span>
    <%= @text %>
  </a>
</p>
