<p class="px-3 py-2 relative flex items-center gap-3 hover:bg-neutral-200 transition-colors rounded-lg text-neutral-500">
  <%= content %>

  <a href="<%= @link %>" class="text-sm font-medium">
    <span class="absolute inset-0"></span>
    <%= @text %>
  </a>
</p>
