<div>
  <% if name? %>
    <div class="px-6">
      <h3 class="text-xs font-semibold uppercase tracking-wide text-neutral-400 select-none">
        <%= name %>
      </h3>
    </div>
  <% end %>

  <div class="p-4 flex flex-col gap-1">
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </div>
</div>
