<%# locals: (tenant: nil, user: nil) %>

<% if authenticated? %>
  <nav data-controller="navbar">
    <div class="p-4 lg:hidden flex justify-between items-center bg-white border-b border-neutral-300">
      <div class="size-6 bg-green-500 rounded-md"></div>
      <button data-action="navbar#openMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
      </button>
    </div>

    <div
      class="hidden lg:hidden fixed z-10 inset-0 bg-neutral-900 opacity-25"
      data-navbar-target="overlay"
      data-action="click->navbar#closeMenu"
    ></div>

    <div
      class="w-5/6 md:w-2/3 lg:w-full h-full flex flex-col fixed lg:static z-20 inset-y-0 -translate-x-full lg:translate-x-0 transform transition-transform duration-300 bg-white lg:bg-transparent border-r lg:border-0 border-neutral-200"
      data-navbar-target="menu"
    >
      <%= render Navbars::MenuComponent.new(tenant:, user:) %>
    </div>
  </nav>
<% end %>
